@media screen and (max-width: 979px) {
  .postListing {
    display: block;
  }
}

@media screen and (min-width: 980px) {
  .postListing {
    margin: 0 auto var(--spacing);
    border-radius: 2px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: calc(100% / 15);
    grid-auto-flow: dense;
  }
}
