:root {
  --spacing: 2rem;
  --footer-height: 72px;
  --navbar-height: 96px;
}

.layout {
  background: #efefef;
}

.layout > main {
  padding: var(--spacing);
}

.layout > footer {
  line-height: var(--footer-height);
  height: var(--footer-height);
  padding: 0 var(--spacing);
  background: #1e1e1e;
  color: #777;
  text-align: center;
}
