.article {
  grid-row: auto;
  grid-column: span 2;
}

.article.heroic {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 100px 6.66667%;
  grid-auto-flow: dense;
  margin-bottom: calc(2 * var(--spacing));
}

.image {
  background: white;
  border-radius: 2px;
  box-shadow: #efefef 2px 2px 1px 0;
}

.article.heroic .image {
  grid-column: 1 / span 2;
}

.title {
  line-height: 1.7;
  min-height: calc(2em * 1.7);
}
